@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
	font-family: "Dref";
	src: url(../DrefSansVF.ttf);
}
@font-face {
	font-family: "Akulam";
	src: url(../AkulamTextVF.ttf);
}
@font-face {
	font-family: "Menorama";
	src: url(../MenoramaVF.ttf);
}

:root{
  --offwhite: #fefefe;
  --txtcolor: #010101;
}

.variable {
  margin:0;
}

/* STRUCTURE */

body    {
  background-color: var(--offwhite);  
  background-attachment: fixed;
  color: var(--txtcolor);
  padding: 4em 5% 2em 5%;
  line-height: 2.2em;
  font-family: 'Dref', sans-serif;
  text-size-adjust: auto;
  font-variation-settings: "wdth" 7.1, "wght" 400;

  max-width: 800px;  
  margin-left: auto;
  margin-right: auto;
}
textarea{
  display: block;
  padding: 0em 0em 0em 0em;
  border: none;
  font-size: 3em;
}
textarea:active {
  border: none;
}

footer{
  display: block;
}

a {    
    text-decoration: none;
    color: var(--txtcolor)
}

/*h4  {
  font-variation-settings: "wght" 720;
}*/

.button {
  color: #a48676;
  font-size: 1.2em;
  margin: 0em 0.8em 0.1em 0em;
  font-weight: 600;
  border-radius: 12px;
  font-variant: small-caps;
}
.button:hover {
  color: #F96849;
}


/* HEADER */

.hi {
  font-size: 1.5em;
  width: fit-content;
  background-color: none;
}
.alen {
  font-variation-settings: "wght" 700;
}

.rightlink  {
  color: #a48676;
  font-size: 1.2em;
  padding: 0em 0.8em 0.1em 0.8em;
  font-variation-settings: "wght" 720;
  border-radius: 12px;
  font-variant: small-caps;
  float: right;
}
.rightlink:hover {
  /*background-color: rgb(241, 229, 215);*/
  background-color: rgb(241, 229, 215);
  color: #3C2A21;
}


.fontbox  {
  border: var(--txtcolor) 2px solid;
  font-family: 'Akulam';
  font-size: 40pt;
  line-height: 1.4em;
  padding: 0.5em;
  display: block;
}

/* PROJECTS TAB FILTER */

.filterDiv  {
  display: none;
  float: left;
  width: 95%;
  font-size: 0.9em;
  font-variation-settings: "wght" 720, "wdth" 7.1;
}
.filterDiv a  {
  float: left;
  padding: 0.6em 0em;
  width: 95%;
  /*transition: padding 0.2s;*/
}
.filterDiv a:hover  {
  float: left;
  width: 95%;
  /*transition: 0.2s;*/
  background-color: rgb(241, 229, 215);
  padding: 0.6em 0.7em;
  border-radius: 10px;
}

.tab1 {
  max-width: 800px;
  display: block;
}
.tab2 {
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 0.5em;
  overflow: hidden;
  padding: 0em 0em 2em 0em;
}

.btn {
  font-variant: small-caps;
  font-size: 1.3em;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #c9b7a7;
  font-variation-settings: "wght" 720;
  padding: 0em 1em 0em 0em;
}
.btn:hover {
  color: #a48676;
}
.btn.active {
  color: #F96849;
  text-decoration: underline;
}

.home_thumb {
  width: 60px;
  height: 60px;
  object-fit: fill;
  border-radius: 12px;
  float: left;
  /*filter: grayscale(.3);*/
  opacity: 1;
}

.proj {
  margin: 0em 0em 0em 5em;
  line-height: 0.6em;
}


/* FOOTER SOCIALS */

.instagram, .behance, .linkedin, .VSCO, .small_link  {
  padding: 0em 1em 0em 0em;
  text-decoration: none;
  color: #c9b7a7;
  font-weight: 400;
}
.instagram:hover  {
    background: -webkit-linear-gradient(left, #7C65DA, #DB1CB1, #E54290, #ffaa00);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}
.behance:hover    {
    color: #144bff;
}
.linkedin:hover    {
    color: #0077B5;
}
.VSCO:hover    {
    color: #141414;
}

/* ABOUT - TRACK RECORD */

.timeline  {
  line-height: 1.2em;
  padding: 0em 0em 1em 0em;
  display: block;
}

/* PROFILE IMAGE */

.profile_img  {
  width: 100%;
  padding: 2em 0em 1.5em 0em;
  display: block;
}
.profile_img  img{
  display: block;
  max-width: 250px;
  border: 16px solid white;
  background-color: white;
  padding: 0em 0em 1.8em 0em;
  transition: max-width 0.5s, rotate 0.5s;
  rotate: -2deg;
  border-radius: 1px;
}
.profile_img img:hover  {
  transition: 0.2s;
  rotate: 1deg;
  max-width: 259px;
  /*box-shadow: -7px 7px #c9b7a7;*/ 
}

/* TABLET */

@media screen and (max-width: 1035px) {
  body  {
    padding: 3em 10.5% 5% 10.5%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .timeline p   {
    line-height: 1.6em;
  }
}

/* MOBILE */

@media screen and (max-width: 600px) {
  body {
    padding: 2em 6% 10% 6%;
  }

  footer {
    padding: 2em 0em;
    width: 100%;
  }

  .intro  {
    padding: 1em 0em 2em 0em; 
  }

  .filterDiv a  {
    float: left;
    padding: 0.6em 0em 0.2em 0em;
    width: 95%;
  }

  .filterDiv a:hover  {
    padding: 0.6em 0em 0.2em 0.7em;
  }

  .profile_img  {
    padding: 2em 0em 2em 0em;
  }
  .profile_img  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tab1    {
    display: none;
  } 
  .tab2 {
    overflow: hidden; 
    width: 100%;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    color: #F96849;
    display: block;
  }


  .proj p{
    line-height: 1.3em;
  }

  .proj div   {
    display: none;
  }

  .timeline p   {
    line-height: 1.8em;
  }

  .instagram, .instagram:hover, .behance, .behance:hover, .linkedin, .linkedin:hover  {
    padding: 0em, 1em, 0em, 0em;
  }
}
